 <table id="example2" class="table table-bordered table-striped" style="min-width: 4000px;">
  <thead>
  <tr>
    <th style="max-width: 180px;">Nama Lengkap</th>
    <th style="max-width: 180px;">Tempat, Tanggal Lahir</th>
    <th style="max-width: 80px;">Agama</th>
    <th style="max-width: 80px;">Gol. Darah</th>
    <th style="max-width: 105px;">No. Handphone</th>
    <th style="max-width: 180px;">Email</th>
    <th style="max-width: 270px;">Alamat Rumah</th>
    <th style="max-width: 270px;">Alamat Kos</th>
    <th>Riwayat Pendidikan</th>
    <th>Kepanitiaan</th>
    <th>Keorganisasian</th>
    <th>Pelatihan</th>
    <th>Prestasi</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td style="max-width: 180px;">
      Muhammad Lahia Ardhan <br>
      140310200014
    </td>
    <td style="max-width: 180px;">Kudus, 15 Desember 2001</td>
    <td style="max-width: 80px;">Islam</td>
    <td style="max-width: 80px; text-align: center;">O</td>
    <td style="max-width: 105px;">081314150854</td>
    <td style="max-width: 180px;">lahia.ardhanm@gmail.com</td>
    <td style="max-width: 270px;">Komplek Graha Pelangi Elok No. 26 Kecamatan Buahbatu Kelurahan Margasari</td>
    <td style="max-width: 270px;">Komplek Graha Pelangi Elok No. 26 Kecamatan Buahbatu Kelurahan Margasari</td>
    <td>
      SD - SDN Pasir Pogor - 2009 - 2014 <br>
      SMP - SMPN 18 Bandung - 2014 -2017 <br>
      SMA - SMAN 25 Bandung - 2017 - 2020
    </td>
    <td>
      2021 - Integrated Petroleum Festival  - Volunteer
    </td>
    <td>
      2022 - BP HIFI FMIPA Unpad - Staff Departemen Medfo
    </td>
    <td>
      2021 - Front End Developer Pemula - Dicoding <br>
      2021 - Cloud Computing - Dicoding <br>
      2021 - Fullstack MERN 2021 - Buildwith Angga
    </td>
    <td>
      2022 - Juara 1 - Hackathon - Nasional <br>
      2022 - Juara 1 - Hackathon Sillicon Valley - Internasional
    </td>
  </tr>
  
</table>